@font-face {
    font-family: 'Gilroy-Regular';
    src: url(/assets/font/gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(/assets/font/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(/assets/font/gilroy/Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #090621;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h2, button, ul, li{
    font-family: 'Oxanium', cursive;
}

h6{
    font-family: 'Gilroy-SemiBold', sans-serif;
}

p{
    font-family: 'Gilroy-Regular', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px !important;
}
/* header Section */

.header_inner{
    padding-top: 32px;
}

.header_inner ul li:hover{
    color: #3BA6E5;
}

.nav_items{
    gap:34px;
    color: #FFFFFF;
    cursor: pointer;
    list-style: none;
}

.wallet_btn button{
    position: relative;
    outline: none;
    border-radius: 8px;
    border: transparent 2px solid;
    background: linear-gradient(92.38deg, #0CA8B8 0.4%, #C732CD 55.32%, #406AFF 100%);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 35px;
    white-space: nowrap;
    z-index: 1;
}
.wallet_btn button:hover{
    position: relative;
    outline: none;
    border-radius: 8px;
    border: transparent 2px solid;
    background: linear-gradient(92.38deg, #07ddf5 0.4%, #f129f8 55.32%, #1545f3 100%);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 35px;
    white-space: nowrap;
    /* z-index: 1; */
}

.wallet_btn button::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 8px;
    background-color: linear-gradient(92.38deg, #0CA8B8 0.4%, #C732CD 55.32%, #406AFF 100%);
    /* z-index: -1; */
    transition: 200ms;
}

.wallet_btn button::after {
    content: attr(data);
    font-size: 18px;
    background: #FFFFFF;
   -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
  }

.wallet_btn button:hover::after{
    color: white;
}
/* header Section end */

/* Banner section */

.banner_inner{
    padding-top: 50px;
    align-items: center;
}

.banner_heading h1{
    font-weight: 700;
    font-size: 98px;
    line-height: 129px;
    text-transform: capitalize;
    background: linear-gradient(94.42deg, #B40FE7 1.13%, #3BACE2 86.27%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oxanium', cursive;
    margin-bottom: 65px;
}

.banner_heading h1 > span {
    background-image: url(/assets/images/Ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 43px;
    background-position: bottom 15% center;
}

.banner_inner p{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.icon {
    /* color: #AB0000; */
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.icon img{
    height: 17px;
    width: 17px;
}

.wallet_btn h5{
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
}

.follower{
    gap: 48px;
    margin-top: 40px;
}

.follower p{
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: 'Gilroy-SemiBold';
}

.line{
    /* background: #E7ECFF; */
    border-left: 1px solid #E7ECFF;
    height: 60px;
}

.img-banner img {
    height: 732px;
    transform: scaleX(1.5) scaleY(1.2);
}

.banner_inner{
    margin-bottom: 156px;
}
/* Banner section End */


/* About Us */

.about__us{
    margin-bottom: 200px;
}

.about__img img{
  text-align: center;
}

.about_us_inner_top{
    margin-bottom: 40px;
}


.about__us__content h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 23.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 35px;
}

.about__us__content p{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.inner_box{
    background: #08142B;
    border-radius: 10px;
    text-align: center;
    padding: 4px 80px 45px 80px;
}

.inner_box h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.inner_box p{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}
/* About Us end */



/* How It Works */

.how_work{
    margin-bottom: 200px;
}

.work_it{
    text-align: center;
}

.work_it h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 39.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}

.work_it p{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.top_setup{
    gap: 25px;
}

.work__setup{
    background: linear-gradient(#090621, #090621) padding-box,linear-gradient(142.52deg, #31A6D8 14.28%, #090621 82.42%) border-box;
    border: 1.5px solid transparent;
    border-radius: 120px 120px 0px 0px;
}

.work__setup img{
    padding: 78px 55px;
}

.work_content{
    width: 302px;
    margin-top: auto;
}

.work_content h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.work_content p{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}


.top_setup{
    margin-bottom: 42px;
}

.invisible_box{
    width: 213px;
}
/* How It Works End */

/* Road Map */

.road__map__inner h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg,  #FF56F6 44.19%, #B936EE 44.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;

}
/* Road Map end */

/* Our collection */
.collection__content h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 39.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 35px;
}
.collection__content p{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.view__btn{
    background: linear-gradient(92.47deg, #FF56F6 0%, #B936EE 0%, #3BACE2 48.9%, #406AFF 87.19%) padding-box,linear-gradient(142.52deg, #3C79D4 14.28%, #FFA6FA 82.42%) border-box;
    border: 2px solid transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 35px;
    border-radius: 10px;
}
/* Our collection End */

/* Team  */
.team_member{
    margin-bottom: 200px;
}

.member_inner_content h2{
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    background: linear-gradient(97.12deg, #FF56F6 42.19%, #B936EE 44.69%, #3BACE2 55.03%, #406AFF 67.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 90px;
}

.team__inner___box{
    padding: 20px 18px;
    background-color: #19172F;
    border-radius: 25px;
}

.team__inner___box img{
    border-radius: 25px;
}

.team__bottom{
    gap: 15px;
}
.team__content{
    position: relative;
}


.team__bottom {
    position: absolute;
    bottom: 20px;
    left: 17px;
    border-radius: 0;
}


.member_name{
    background: #19172F;
    padding: 6px 25px 0px 12px;
    border-radius: 0px 10px 0px 25px;
}

.member_name h3{
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.member_name p{
    font-size: 16px;
    line-height: 21px;
    color: #DD81FF;
}

.member_social_link{
    gap: 10px;
    margin-right: 35px;
}

/* Team End */

/* FAQ */

.faq{
    margin-bottom: 200px;
}

.faq__content h3{
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    background: linear-gradient(97.12deg, #FF56F6 47.19%, #B936EE 49.69%, #3BACE2 52.03%, #406AFF 53.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-family: 'Oxanium';
}

.accordion {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 26px;
    --bs-accordion-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion {
    border: 0;
}

.accordion-header {
    border: 0;
}

.accordion-button {
    border-radius: 25px;
    font-family: 'Gilroy-SemiBold';
    font-size: 26px;
    line-height: 30px;
    color: #EFEFFF !important;
    background-color: #090621;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
}

.accordion-item {
    margin: 20px !important;
    /* border: 1px solid red; */
    border-radius: 25px;
    border: 1px solid #380A60;
    background-color: #090621;
}

.accordion-item:first-of-type {
    border-radius: 25px;
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid #380A60;
}

.accordion-item:last-of-type {
    border-radius: 25px;
}


.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 25px;
}

.accordion-item:first-of-type .accordion-button{
    border-radius: 25px;
}

/* FAQ End */



/* join Us */
.join__us{
    margin-bottom: 200px;
}
.join_us_inner{
    background-image: url(../images/join_our_community.png);
    background-repeat: no-repeat;
    padding-top: 107px;
    padding-bottom: 107px;
    border-radius: 30px;
}

.join_us_inner h2{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.join_us_inner p{
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.email__input{
    max-width: 428px;
    margin: 0 auto;
    position: relative;
}

.email__input input{
    border: 1px solid #FFFFFF80;
    background: #090621;
    outline: none;
    border-radius: 32.5px;
    height: 65px;
}

.email__input input::placeholder{
    /* padding: 23px 0px 23px 32px; */
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 32px;
}

.sub__btn{
    border: 1px solid transparent !important;
    background: linear-gradient(#54009D, #54009D) padding-box,linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) border-box;
    border-radius: 32px;
    color: #FFFFFF;
    padding: 20px 36px;
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    right: 0;

}

/* join Us End */


/* Footer */

.footer__all{
    background-color: #050C24;
    /* padding-top: 106px; */
}


.logo__content__footer img{
    margin-bottom: 30px;
}

.logo__content__footer p{
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
    
}

.find__us h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #EEEEEE;
    margin-bottom: 25px;
}

.find__us img{
    cursor: pointer;
    transition: 0.4s ease-in-out;;
}

.find__us img:hover{
    
    transform: scale(1.02);
    cursor: pointer
}


.social_links {
    gap: 22px;
} 

.footer__exe a{
    text-decoration: none;
}

.footer__exe ul li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}

.footer__exe ul li:first-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #EEEEEE;
    list-style: none;
    margin-bottom: 25px;
    padding-left: 0;
    
}

.footer__exe ul li a{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Gilroy-Regular', sans-serif;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
}

.footer__exe ul li a:hover{
    color: #3BA6E5;
}

hr{
    border: 1px solid #170B37;
}

.footer__bottom{
    padding-top: 19px;
    padding-bottom: 19px;
}

.foo_bottom_inner{
    gap: 67px;
}

.copy__right{
    padding-left: 255px;
}

.copy__right p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Oxanium', cursive;
    text-align: center;
}

.term a{
    font-family: 'Oxanium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.term a:hover{
    text-decoration: underline;
}
/* Footer End */
















@media screen and (max-width:2560px) {
    .mobile-container {
        display: none;
    }
}

@media screen and (max-width:1440px) {
    .mobile-container {
        display: none;
    }
}

@media screen and (max-width:1199px) {
    .nav_items {
        gap: 20px;
    }
}

@media screen and (max-width:1024px) {

   

    
}

@media screen and (max-width:764px) {

    .img-banner{
        display: none;
    }

    .banner_inner{
        margin-bottom: 30px;
    }

    .about__img{
        display: none;
    }


    .header_inner{
        display: none !important;
       
    }

    .mobile-container {
        display: block !important;
    }

    .topnav {
        overflow: hidden;
        background: rgba(116, 112, 112, 0.445);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topnav :hover {
        background: rgba(116, 112, 112, 0.445);
    }


    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        height: 50px;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        background: none;
        color: #fff;
    }

    .topnav a.icon:hover {
        background: rgba(116, 112, 112, 0.445);
        color: #fff;
    }

    .topnav button {
        display: block;
        margin-left: 15px;
        border-radius: 2px;
        margin-top: 10px;
        position: relative;
        outline: none;
        border-radius: 2px;
        border: transparent 2px solid;
        background: linear-gradient(45deg, #C732CD, #0CA8B8);
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 11px 35px;
        white-space: nowrap;
    }

    .topnav button::before{
        content: "";
        position: absolute;
        background: linear-gradient(92.38deg, #0CA8B8 0.4%, #C732CD 55.32%, #406AFF 100%);
    }

    .topnav button::after {
        content: attr(data);
        font-size: 18px;
        background: linear-gradient(to left, #00FFA3, #DC1FFF);
       -webkit-background-clip: text;
        color: transparent;
        transition: 200ms
      }

    .topnav button:hover::before {
        opacity: 50%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }

    .topnav button:hover::after{
        color: white;
      }

    /* .topnav button:hover {
        background: linear-gradient(45deg, #C732CD, #0CA8B8);
        color: #fff;
    } */

    .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: 0.4s all linear;
    }

    .topnav :hover {
        background-color: rgba(116, 112, 112, 0.445);
    }

    .active {
        background-color: #3b4642;
        color: white;
    }
   
}

@media screen and (max-width:425px) {
    /* .about__us__content h2{

    } */
}
