@font-face {
    font-family: 'Gilroy-Regular';
    src: url(/assets/font/gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(/assets/font/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(/assets/font/gilroy/Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #662F87; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #9a49c9; 
  }

body {
    background-color: #090621;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2,
button,
ul,
li {
    font-family: 'Oxanium', cursive;
}

h6 {
    font-family: 'Gilroy-SemiBold', sans-serif;
}

p {
    font-family: 'Gilroy-Regular', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px !important;
}

/* header Section */

.header_inner {
    padding-top: 32px;
    margin-bottom: 15px;
}

.nav_items{
    gap: 34px;
    list-style: none;
}

.nav__cls ul li a{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.nav__cls ul li a:hover {
    color: #3BA6E5;
}

.wallet_btn button{
    border: 2px solid transparent !important;
    background: linear-gradient(92.38deg, #0CA8B8 0.4%, #C732CD 55.32%, #406AFF 100%) padding-box, linear-gradient(92.23deg, #406AFF 21.43%, #FF56F6 73.04%) border-box;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Oxanium';
    padding: 11px 35px;
    transition: 0.4s ease-in;
    background-size: 200% 200%;
    animation-name: color ;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
    animation-delay: 2s
}

@keyframes color {
    0%{background-position:100% 0%}
    100%{background-position:0% 100%}
}

.wallet_btn button:hover {
    background: linear-gradient(#380A60, #380A60) padding-box, linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) border-box;
}
/* header Section end */



/* Banner section */

/* Banner modal */
.modal {
    --bs-modal-width: 750px;
}

.close_modal{
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px!important;
}

/* Banner modal */

.banner_inner {
    align-items: center;
}

.banner_heading h1 {
    font-weight: 700;
    font-size: 98px;
    line-height: 123px;
    text-transform: capitalize;
    background: linear-gradient(94.42deg, #B40FE7 1.13%, #3BACE2 86.27%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oxanium', cursive;
    margin-bottom: 65px;
    padding-top: 50px;
}

.banner_heading h1>span {
    background-image: url(/assets/images/Ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 43px;
    background-position: bottom 15% center;
}

.banner_inner p {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.icon {
    /* color: #AB0000; */
    background: #F0F0F0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.icon button{
    border: none;
}

.icon img {
    height: 17px;
    width: 17px;
}

.show__video{
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
}


/* .responsive-iframe {
    width: 100%;
    height: 100%;
  } */

.follower {
    gap: 20px;
    margin-top: 40px;
}

.follower p {
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Gilroy-SemiBold';
}

.line {
    /* background: #E7ECFF; */
    border-left: 1px solid #E7ECFF;
    height: 60px;
}

.img-banner img {
    height: 732px;
    transform: scaleX(1.5) scaleY(1.2);
}

.banner_inner {
    margin-bottom: 156px;
}

/* Banner section End */


/* About Us */

.about__us {
    margin-bottom: 160px;
}

.about_us_inner_top {
    margin-bottom: 90px;
}

.about__img  img{
    transform: scale(1.5);
}

.about__us__content h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 23.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 35px;
}

.about__us__content p {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.inner_box {
    background: #08142B;
    border-radius: 10px;
    text-align: center;
    padding: 4px 80px 45px 80px;
    transition: 0.4s ease-in-out;
    overflow: hidden;
}

.inner_box:hover{
    transform: scale(1.02);
    cursor: pointer;
   
}

.inner_box h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.inner_box p {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

/* About Us end */



/* How It Works */

.how_work {
    margin-bottom: 160px;
}

.work_it {
    text-align: center;
}

.work_it h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 39.69%, #3BACE2 72.03%, #406AFF 99.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}

.work_it p {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.top_setup {
    gap: 25px;
}

.work__setup {
    background: linear-gradient(#090621, #090621) padding-box, linear-gradient(142.52deg, #31A6D8 14.28%, #090621 82.42%) border-box;
    border: 1.5px solid transparent;
    border-radius: 120px 120px 0px 0px;
}

.work__setup img {
    padding: 78px 55px;
}

.work_content {
    width: 302px;
    margin-top: auto;
}

.work_content h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.work_content p {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}


.top_setup {
    margin-bottom: 42px;
}

.middle__box{
    display: flex;
}

.invisible_box {
    width: 213px;
}

/* How It Works End */

/* time line new */

.road_map {
    margin-bottom: 160px;
}

.road__map__inner h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 44.19%, #B936EE 48.69%, #3BACE2 57.03%, #406AFF 60.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 90px;
}

.right__num {
    text-align: right;
    padding-right: 50px;
}

.map_num__box {
    padding-left: 40px;
}

.map_num__box h6 {
    font-size: 26px;
    line-height: 30px;
    color: #C0C5EA;

}

.map__content h4 {
    font-family: 'Oxanium';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C1EBFF;
    text-align: center;
    margin-bottom: 30px;
}

.map__content p {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
} 

.timeline__content{
    width: 460px;
    background: #0B0726;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 9999;
}

.timeline_back_right{
    width: 460px;
    height: 241px;
    background: #0B0726;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    position: absolute;
    z-index: -9999;
    top: -12px;
    left: -12px;
}

.timeline_back_left{
    width: 460px;
    height: 241px;
    background: #0B0726;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    position: absolute;
    z-index: -99999;
    top: 24px;
    left: -12px;
}

.empty__inner{
    width: 460px;
    height: 241px;
}

.double__box_right{
    position: relative;
}

.double__box_left{
    position: relative;
}

.line_middle{
    position: relative;
}

.line_middle::before{
    content: "";
    position: absolute;
    content: "";
    border: 1px dashed #31A6D8;
    height: 334%;
    left: 50%;
    transform: translateX(-50%);
    top: 176px;

}

.time__inner_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.time__inner_right::before{
    position: absolute;
    content: '';
    border: 1px dashed #31A6D8;
    top: 50%;
    width: 34%;
    left: 0;
    z-index: -99999;
}

.time__inner_right::after{
    position: absolute;
    content: '';
    border: 1px solid #07ddf5;
    width: 9px;
    height: 9px;
    background-color: #07ddf5;
    border-radius: 50%;
    left: -5px;
    top: 50%;
    transform: translateY(-42%);
   
}

.double__box_right::before{
    position: absolute;
    content: '';
    border: 1px solid #07ddf5;
    width: 9px;
    height: 9px;
    background-color: #07ddf5;
    border-radius: 50%;
    left: -23px;
    top: 50%;
    transform: translateY(-42%);
}


.time__inner_left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}


.time__inner_left::before{
    position: absolute;
    content: '';
    border: 1px dashed #31A6D8;
    top: 50%;
    width: 35%;
    right: 0;
    z-index: -99999;
}

.time__inner_left::after{
    position: absolute;
    content: '';
    border: 1px solid #07ddf5;
    width: 9px;
    height: 9px;
    background-color: #07ddf5;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-45%);
   
}

.double__box_left::before{
    position: absolute;
    content: '';
    border: 1px solid #07ddf5;
    width: 9px;
    height: 9px;
    background-color: #07ddf5;
    border-radius: 50%;
    right: -8px;
    top: 50%;
    transform: translateY(-42%);
}

/* time line new end */


/* Our collection */
.our_collection{
    margin-bottom: 160px;

}

.collection__content h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(97.12deg, #FF56F6 18.19%, #B936EE 39.69%, #3BACE2 51.03%, #406AFF 75.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 35px;
}

.collection__content p {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.view__btn {
    background: linear-gradient(92.47deg, #FF56F6 0%, #B936EE 0%, #3BACE2 48.9%, #406AFF 87.19%) padding-box, linear-gradient(142.52deg, #3C79D4 14.28%, #FFA6FA 82.42%) border-box;
    border: 2px solid transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 35px;
    border-radius: 10px;
}

.view__btn:hover {
    background: linear-gradient(#090621, #090621) padding-box, linear-gradient(142.52deg, #3C79D4 14.28%, #FFA6FA 82.42%) border-box;
}

/* Our collection End */

/* Team  */
.team_member {
    margin-bottom: 160px;
}

.member_inner_content h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    background: linear-gradient(97.12deg, #FF56F6 42.19%, #B936EE 44.69%, #3BACE2 55.03%, #406AFF 67.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 90px;
}

.team__inner___box {
    padding: 20px 18px;
    background-color: #19172F;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
}

.team__inner___box:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.team__inner___box img {
    border-radius: 25px;
}


.team__bottom {
    gap: 15px;
}

.team__content {
    position: relative;
}


.team__bottom {
    position: absolute;
    bottom: 16px;
    left: 14px;
    border-radius: 0;
}


.member_name {
    background: #19172F;
    padding: 6px 25px 6px 12px;
    border-radius: 0px 10px 0px 25px;
}

.member_name h3 {
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.member_name p {
    font-size: 16px;
    line-height: 21px;
    color: #DD81FF;
}

.member_social_link {
    gap: 10px;
    margin-right: 35px;
}

/* Team End */

/* FAQ */

.faq {
    margin-bottom: 160px;
}

.faq__content h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    background: linear-gradient(97.12deg, #FF56F6 47.19%, #B936EE 49.69%, #3BACE2 52.03%, #406AFF 53.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-family: 'Oxanium';
    margin-bottom: 90px;
}

.accordion {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 26px;
    --bs-accordion-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion {
    border: 0;
}

.accordion-header {
    border: 0;
}

.accordion-button {
    border-radius: 25px;
    font-family: 'Gilroy-SemiBold';
    font-size: 26px;
    line-height: 30px;
    color: #EFEFFF !important;
    background-color: #090621;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
}

.accordion-item {
    margin: 20px !important;
    /* border: 1px solid red; */
    border-radius: 25px;
    border: 1px solid #380A60;
    background-color: #090621;
}

.accordion-item:first-of-type {
    border-radius: 25px;
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid #380A60;
}

.accordion-item:last-of-type {
    border-radius: 25px;
}


.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 25px;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 25px;
}

.accordion-button::after {
    background-image: url(../images/Arrow_02.png);
    
}



.accordion-button:not(.collapsed)::after {
    background-image: url(../images/Arrow_02.png);
}

/* FAQ End */



/* join Us */
.join__us {
    margin-bottom: 160px;
}

.join_us_inner {
    background-image: url(../images/join_our_community.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    padding-top: 107px;
    padding-bottom: 107px;
    border-radius: 30px;
}

.join_us_inner h2 {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.join_us_inner p {
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.email__input {
    max-width: 428px;
    margin: 0 auto;
    position: relative;
}

.email__input input {
    border: 1px solid #FFFFFF80;
    background: #090621;
    outline: none;
    border-radius: 32.5px;
    height: 50px;
    color: white;
    padding: 10px 32px;
}

.sub__btn {
    border: 1px solid transparent !important;
    background: linear-gradient(#54009D, #54009D) padding-box, linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) border-box;
    border-radius: 32px;
    color: #FFFFFF;
    padding: 14px 36px;
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in;
}

.sub__btn:hover {
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) padding-box, linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) border-box;
}

/* join Us End */


/* Footer */

.footer__all {
    background-color: #050C24;
    /* padding-top: 106px; */
}


.logo__content__footer img {
    margin-bottom: 30px;
}

.logo__content__footer p {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);

}

.find__us h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #EEEEEE;
    margin-bottom: 25px;
}

.find__us img {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    ;
}

.find__us img:hover {

    transform: scale(1.02);
    cursor: pointer
}


.social_links {
    gap: 22px;
}

.footer__exe a {
    text-decoration: none;
}

.footer__exe ul li {
    list-style: none;
    position: relative;
    /* padding-left: 20px; */
}

.footer__exe ul li:first-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #EEEEEE;
    list-style: none;
    margin-bottom: 25px;
    padding-left: 0;

}

.footer__exe ul li a {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Gilroy-Regular', sans-serif;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
}

.footer__exe ul li a:hover {
    color: #3BA6E5;
}

hr {
    border: 1px solid #170B37;
}

.footer__bottom {
    padding-top: 19px;
    padding-bottom: 19px;
}

.copy__right p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Oxanium', cursive;
    text-align: center;
}

.term a {
    font-family: 'Oxanium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.term a:hover {
    text-decoration: underline;
}

/* Footer End */





/* responsive */

@media screen and (max-width:2560px) {
    .mobile-container {
        display: none;
    }
}

@media screen and (max-width:1440px) {
    .mobile-container {
        display: none;
    }



    .img-banner img{
        transform: none;
    }

    .time__inner_right{
        padding-right: 20px;
    }

    .time__inner_left{
        padding-left: 50px;
    }
}

@media screen and (max-width:1199px) {
    .nav_items {
        gap: 20px;
    }

    .banner_heading h1 {
        font-size: 70px;
        line-height: 76px;
    }

    /* .img-banner img {
        object-fit: contain;
    } */

     /* Road map */

     .empty__inner{
        display: none;
    }

    .road__map__inner h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        background: linear-gradient(97.12deg, #FF56F6 44.19%, #B936EE 48.69%, #3BACE2 57.03%, #406AFF 60.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        margin-bottom: 90px;
    }
    
    .right__num {
        text-align: right;
        padding-right: 50px;
    }
    
    .map_num__box {
        padding-left: 40px;
    }
    
    .map_num__box h6 {
        font-size: 18px;
        line-height: 10px;
    }
    
    .map__content h4 {
        font-size: 20px;
        line-height: 0;
        margin-bottom: 20px;
    }
    
    .map__content p {
        font-size: 18px;
        line-height: 26px;
    } 
    
    .timeline__content{
        width: 60vw;
    }
    

    .line_middle::before {
        content: "";
        position: absolute;
        content: "";
        border: 1px dashed #31A6D8;
        height: 315%;
        left: 0;
        transform: translateX(-50%);
        top: 190px;
        /* padding-left: 20px; */
        margin-left: 30px;
    }

    .time__inner_right {
        /* align-items: flex-end; */
        margin-bottom: 48px;
        margin-right: 20px;
    }

    .time__inner_left{
        align-items: flex-end;
        margin-right: 30px;
    }

    .timeline_back_right{
        width: 60vw;
        height: 17vw;
    }

    .timeline_back_left{
        width: 60vw;
        height: 17vw;
        top: -10px;
    }



    .double__box_left::before {
        display: none;
    }

    .double__box_left::before {
        display: none;
    }

    .time__inner_right::before {
        width: 71%;
        left: 26px;
    }

    .time__inner_left::before {
        width: 71%;
        left: 31px;
    }

    .double__box_right::before {
        left: -21px;
    }

    .double__box_left::after{
        position: absolute;
        content: '';
        border: 1px solid #07ddf5;
        width: 9px;
        height: 9px;
        background-color: #07ddf5;
        border-radius: 50%;
        top: 50%;
        left: -21px;
        transform: translateY(-42%);
    }

    .time__inner_right::after {
        left: 26px;
    }

    .time__inner_left::after {
        left: 26px;
    }
    /* Roadmap end */
}

@media screen and (max-width:1024px) {
    
    .banner_inner {
        margin-bottom: 20px;
    }


    .header_inner {
        display: none !important;

    }

    .mobile-container {
        display: block !important;
    }

    .topnav {
        overflow: hidden;
        background: rgba(116, 112, 112, 0.445);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topnav :hover {
        background: rgba(116, 112, 112, 0.445);
    }


    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        height: 50px;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        background: none;
        color: #fff;
    }

    .topnav a.icon:hover {
        background: rgba(116, 112, 112, 0.445);
        color: #fff;
    }

    .wallet_btn button{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: 0.4s all linear;
    }

    .topnav :hover {
        background-color: rgba(116, 112, 112, 0.445);
    }

    .active {
        background-color: #3b4642;
        color: white;
    }
    
    .social_links {
        gap: 10;
    }

    .about__img img {
        transform: none;
    }
    .about_us_inner_top {
        margin-bottom: 40px;
    }

    /* Road map */

    .empty__inner{
        display: none;
    }

    .road__map__inner h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        background: linear-gradient(97.12deg, #FF56F6 44.19%, #B936EE 48.69%, #3BACE2 57.03%, #406AFF 60.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        margin-bottom: 90px;
    }
    
    .right__num {
        text-align: right;
        padding-right: 50px;
    }
    
    .map_num__box {
        padding-left: 40px;
    }
    
    .map_num__box h6 {
        font-size: 18px;
        line-height: 10px;
    }
    
    .map__content h4 {
        font-size: 20px;
        line-height: 0;
        margin-bottom: 20px;
    }
    
    .map__content p {
        font-size: 18px;
        line-height: 26px;
    } 
    
    .timeline__content{
        width: 60vw;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
       
    }

    .timeline_back_right{
        width: 60vw;
        height: 14vw;
    }

    .timeline_back_left{
        width: 60vw;
        height: 14vw;
        top: -10px;
    }

    .line_middle::before {
        content: "";
        position: absolute;
        content: "";
        border: 1px dashed #31A6D8;
        height: 300%;
        left: 0;
        transform: translateX(-50%);
        top: 172px;
        margin-left: 30px;
    }

    .time__inner_right {
        margin-bottom: 48px;
        margin-right: 10px;
    }

    .time__inner_left{
        align-items: flex-end;
    }

    .double__box_left::before {
        display: none;
    }

    .double__box_left::before {
        display: none;
    }

    .time__inner_right::before {
        width: 68%;
        left: 26px;
    }

    .time__inner_left::before {
        width: 66%;
        left: 31px;
    }

    .double__box_right::before {
        left: -9px;
    }

    .double__box_left::after{
        position: absolute;
        content: '';
        border: 1px solid #07ddf5;
        width: 9px;
        height: 9px;
        background-color: #07ddf5;
        border-radius: 50%;
        top: 50%;
        left: -9px;
        transform: translateY(-42%);
    }

    .time__inner_right::after {
        left: 26px;
    }

    .time__inner_left::after {
        left: 26px;
    }

    /* Road map end */

}

@media screen and (max-width: 992px){
    
    .img-banner{
        display: none;
    }

    .banner_heading h1 {
        text-align: center;
        font-size: 40px;
    }

    .banner_inner p {
        text-align: center;
        font-size: 22px;
    }
    .wallet_btn h5 {
        font-size: 22px;
    }

    .follower {
        gap: 0;
    }

    .follower p {
        font-size: 22px;
        line-height: 28px;
    }

    .about__us__content h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .inner_box h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .about__us__content p {
        font-size: 16px;
    }

    .inner_box p {
        font-size: 18px;
        line-height: 17px;
    }

    .work_it h2 {
        font-size: 40px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .work_it p {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .work_content h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .work_content p {
        font-size: 18px;
        line-height: 20px;
    }

    .how_work {
        margin-bottom: 50px;
    }

    .top_setup {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .middle__box{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .invisible_box {
        display: none;
    }

    .road__map__inner h2 {
        margin-bottom: 10px;
        font-size: 40px;
    }

    .road_map {
        margin-bottom: 0px;
    }

    .timeline_back_right {
        width: 60vw;
        height: 16vw;
    }

    .timeline_back_left {
        width: 60vw;
        height: 16vw;
    }

    .collection__content h2 {
        font-size: 40px;
        line-height: 70px;
        margin-bottom: 10px;
        text-align: center;
    }

    .collection__content p {
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    .our_collection {
        margin-bottom: 50px;
    }
    
    .view__btn__rs{
        text-align: center;
    }

    .team_member {
        margin-bottom: 50px;
    }

    .member_inner_content h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .faq__content h3 {
        margin-bottom: 10px;
        font-size: 40px;
    }

    .accordion-button {
        font-size: 20px;
    }

    .accordion {
        font-size: 18px;
        line-height: 26px;
    }

    .faq {
        margin-bottom: 50px;
    }

    .join_us_inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .join_us_inner h2 {
        font-size: 38px;
        line-height: 60px;
    }

    .email__input input {
        height: 50px;
    }

    .sub__btn{
        padding: 12px 36px;
    }

    .join__us {
        margin-bottom: 50px;
    }

    .logo__content__footer p {
        /* text-align: center; */
        padding-left: 20px;
    }

    .footer__exe ul li:first-child {
        font-size: 20px;
        line-height: 18px;
    }
    
    .footer__exe ul li a {
        font-size: 15px;
        line-height: 21px;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }

    .term{
        flex-direction: column;
        text-align: center;
    }

    .footer__exe ul{
        padding-left: 20px;
    }

    .find__us{
        padding-left: 20px;
    }
}

@media screen and (max-width:764px) {

    .invisible_box{
        display: none;
    }

    .banner_heading h1 {
        font-weight: 700;
        font-size: 51px;
        line-height: 100px;
        text-align: center;
    }

    .banner_inner p {
        font-size: 18px;
        text-align: center;
    }

    .img-banner{
        display: none;
    }

    .btn__video{
        flex-direction: column;
        gap: 10px;
    }

    .follower{
        flex-direction: column;
        gap: 0;
    }

    .follower p{
        font-size: 18px;
    }

    .line{
        display: none;
    }
    /* banner Modal */

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 400px!important;
    }

    /* banner Modal end */
    /* About us */

    .about__us__content{
        text-align: center;
    }

    /* About us end */

    /* How it Works */

    .top_setup{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .work_it p{
        margin-bottom: 40px;
    }

    .work_content {
        width: 200px;
    }

    .middle__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    /* How it Works end */

   /* Road Map */

    .timeline_back_right{
        display: none;
    }

    .timeline_back_left{
        display: none;
    } 

    .double__box_right::before {
        left: -10px;
    }

   /* Road Map End */

    /* Collection Content */ 

    .collection__content{
        text-align: center;
    }

    .img_collection{
        display: none;
    }


    /* Collection Contentend */

    /* footer */
    .foo_bottom_inner {
        flex-direction: column;
    }

    .logo__content__footer{
       text-align: center;
    }

    .footer__exe{
        text-align: center;
    }

    .find__us h2{
        text-align: center;
    }

    .social_links {
        justify-content: center;
    }

    /* .foo_bottom_inner {
        gap: 25px;
    } */

    .copy__right {
        padding: 0;
    }
    /* footer end */

}

@media screen and (max-width:425px) {
    .map_num__box{
        display: none;
    }

    .line_middle::before {
        margin-left: 0;
        height: 298%;
    }

    .time__inner_right::after {
        left: -4px;
    }

    .time__inner_left::after {
        left: -4px;
    }

    .time__inner_left::before {
        left: 0px;
    }

    .time__inner_right::before {
        left: 0px;
    }
}

/* responsive */


/* key frame animation */

.animated_Banner{
    animation-name: animatedBaner ;
    animation-duration: 4s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 2s; /* or: Xms */
}

@keyframes animatedBaner {
    0%   {transform: scale(1.1)}
    100% {transform: scaleX(1.5) scaleY(1.2) }
    0%   {transform: scale(1.1)}
  }


/* key frame animation */